<div class="w3-main" style="margin-left:320px;" *ngIf="emailContent$ | async as e">
  <i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" (click)="openSiteBar()"></i>
  <div *ngIf="e.content.id != null">
    <div class="w3-hide-large w3-red w3-button w3-right w3-margin-top w3-margin-right" (click)="newEmail()"><i class="fa fa-pencil"></i></div>
    
    <div id="Borge" class="w3-container person">
      <br>
      <!-- <img class="w3-round  w3-animate-top" src="/w3images/avatar3.png" style="width:20%;"> -->
      <div *ngIf="!e.content.img" class="w3-bar-item w3-circle email-icon" 
      [ngStyle]="{'background-color': e.content.color, 'width': '50px', 'height': '50px', 'padding': '15px 0px 0px 0px', 'color': 'white', 'text-align': 'center'}">
        {{e.content.short}}
      </div>
      <div *ngIf="e.content.img" class="w3-bar-item w3-circle email-icon" [ngStyle]="{'width': '50px', 'height': '50px'}"><img height="50px" src={{e.content.img}} /></div>
      <h5 class="w3-opacity">Subject: {{e.content.subject}}</h5>
      <h4><i class="fa fa-clock-o"></i> {{e.content.type === 'send' ? 'To' : 'From'}} {{e.content.from.name}} <{{e.content.from.email}}>, {{e.content.datetime}}.</h4>
      <button class="w3-button w3-light-grey" (click)="reply(e.content.from.email, e.content.subject, e.content.body)">Reply<i class="w3-margin-left fa fa-mail-reply"></i></button>
      <button class="w3-button w3-light-grey" (click)="forward(e.content.subject, e.content.body)">Forward<i class="w3-margin-left fa fa-arrow-right"></i></button>
      <hr>
      <p>{{e.content.body}}</p>
    </div>
  </div>
</div>