<div class="email-sitebar">
  <div class="mini-sitebar">
    <div class="menu-left">
      <div class="w3-bar-item w3-button w3-large" (click)="newEmail()"><i class="fa fa-pencil"></i></div>
      <div class="w3-bar-item w3-button w3-large" (click)="inboxEmail()"><i class="fa fa-inbox"></i></div>
      <div class="w3-bar-item w3-button w3-large" (click)="sendedEmail()"><i class="fa fa-paper-plane"></i></div>
      <!-- <a href="#" class="w3-bar-item w3-button w3-large"><i class="fa fa-hourglass-end w3-margin-right"></i></a> -->
      <div class="w3-bar-item w3-button w3-large" (click)="deletedEmail()"><i class="fa fa-trash"></i></div>
    </div>
  </div>
  <div class="main-sitebar">
    <div class="w3-bar-item w3-border-bottom w3-large nav-site">
      <span [ngStyle]="{'font-size': '13px'}"><b>Inbox</b></span>
    </div>
    <div class="w3-bar-item empty"></div>
    <div *ngFor="let item of navList" class="w3-row w3-bar-item w3-button w3-hover-light-grey w3-border-bottom sitebar-lists" id={{item.id}}>
      <div class="icon-top-right">
          <span class="minispec right-icon" (click)="remove(item)"><i class="fa fa-trash-o"></i></span>
          <span class="right-icon" (click)="markread(item)"><i class="fa fa-envelope-o"></i></span>
      </div>
      <div class="w3-bar-item w3-circle w3-display-topleft email-icon check-icon" [ngStyle]="{'visibility': (isShowCheck == true || isId == item.id ? 'visible' : 'hidden')}">
        <input type="checkbox" [(ngModel)]="item.check" (click)="chicking($event, item)"/>
      </div>
      <div (click)="read(item)">
        <div class="w3-col s2 m2 l2">
          <div class="w3-bar-item w3-circle email-icon uncheck-icon"
            *ngIf="!item.img"
            [ngStyle]="{'background-color': item.color, 'visibility': (isShowCheck == false && isId != item.id ? 'visible' : 'hidden')}">
            {{item.short}}
          </div>
          <div class="w3-bar-item w3-circle email-icon uncheck-icon"
            *ngIf="item.img"
            [ngStyle]="{'visibility': (isShowCheck == false && isId != item.id ? 'visible' : 'hidden')}">
            <img height="30px" src={{item.img}} />
          </div>
        </div>
        <div class="w3-col s10 m10 l10">
          <p class="email-name" [ngStyle]="{'font-weight': (item.read !== true) ? 'bold' : 'normal'}">{{item.from.name}}</p>
          <p class="email-subject" [ngStyle]="{'font-weight': (item.read !== true) ? 'bold' : 'normal'}">{{item.subject}}</p>
          <p class="email-content" [ngStyle]="{'font-weight': (item.read !== true) ? 'bold' : 'normal'}">{{item.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>